In [2]:
import pandas as pd

In [3]:
"""
What is in pandas?
1. Series
2. Data Frames
3. Missing Data
4. Group By
5. Merging, Joining, Concatenating
6. Operations
7. Data Input and Output
"""

'\nWhat is in pandas?\n1. Series\n2. Data Frames\n3. Missing Data\n4. Group By\n5. Merging, Joining, Concatenating\n6. Operations\n7. Data Input and Output\n'

In [5]:
# Series: Data type in pandas

In [6]:
import numpy as np

In [7]:
# crrating various series

In [13]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [14]:
my_data

[10, 20, 30]

In [15]:
arr

array([10, 20, 30])

In [16]:
d

{'a': 10, 'b': 20, 'c': 30}

In [18]:
# create series, with index values
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [21]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [22]:
# more ways to create series
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [23]:
# In case of dictionary it automatically get keys
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [26]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [27]:
pd.Series(data=[sum, print, len, max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3      <built-in function max>
dtype: object

In [28]:
# using series is understanding index

In [32]:
ser1 = pd.Series([1,2,3,4], ['USA', 'GERMANY', 'uk', 'CANADA'])

In [33]:
ser1

USA        1
GERMANY    2
uk         3
CANADA     4
dtype: int64

In [34]:
ser1[1]

2

In [35]:
ser1['USA']

1

In [37]:
ser1

USA        1
GERMANY    2
uk         3
CANADA     4
dtype: int64

In [ ]:
# Data frames